
@{
    ViewBag.Title = "首頁";
    Layout = "~/Views/Shared/Main.cshtml";
}

<!-- Banner -->
<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-7 col-12-medium">
                <h2></h2>
                <p></p>
            </div>
            <div class="col-5 col-12-medium">
                <ul>
                    <li><a href="#" class="button large icon solid fa-arrow-circle-right"></a></li>
                    <li><a href="#" class="button alt large icon solid fa-question-circle"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="features-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-4 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="~/Images/main/pic01.jpg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>行程一</h2>
                            <p>行程簡介</p>
                        </header>
                        <p>行程</p>
                    </div>
                </section>

            </div>
            <div class="col-4 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="~/Images/main/pic02.jpg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>行程二</h2>
                            <p>行程簡介</p>
                        </header>
                        <p>行程</p>
                    </div>
                </section>

            </div>
            <div class="col-4 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="~/Images/main/pic03.jpg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>行程三</h2>
                            <p>行程簡介</p>
                        </header>
                        <p>行程</p>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row gtr-200">
            <div class="col-4 col-12-medium">

                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget thumbnails">
                        <h3>Interesting stuff</h3>
                        <div class="grid">
                            <div class="row gtr-50">
                                <div class="col-6"><a href="#" class="image fit"><img src="~/Images/main/pic04.jpg" alt="" /></a></div>
                                <div class="col-6"><a href="#" class="image fit"><img src="~/Images/main/pic05.jpg" alt="" /></a></div>
                                <div class="col-6"><a href="#" class="image fit"><img src="~/Images/main/pic06.jpg" alt="" /></a></div>
                                <div class="col-6"><a href="#" class="image fit"><img src="~/Images/main/pic07.jpg" alt="" /></a></div>
                            </div>
                        </div>
                        <a href="#" class="button icon fa-file-alt">More</a>
                    </section>
                </div>

            </div>
            <div class="col-8 col-12-medium imp-medium">

                <!-- Content -->
                <div id="content">
                    <section class="last">
                        <h2></h2>
                        <p>
                          
                        </p>
                        <p></p>
                        <a href="#" class="button icon solid fa-arrow-circle-right"></a>
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>