

@{
    ViewBag.Title = "修改個人資料";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<h2>修改個人資料</h2>

<div class="panel panel-primary">
    <div class="panel-heading">修改密碼</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>修改密碼</label>
                    <input type="password" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>確認新密碼</label>
                    <input type="password" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-primary">修改密碼</button>
    </div>
</div>

<!--
    <form method="post" action="">
    <input type="hidden" value="" name="Id" />
    <p>
        密碼<input type="text" name="Password" value="" required class="form-control" />
    </p>
    <p>
        <input type="submit" value="儲存" class="btn btn-danger" />
    </p>
</form>
-->
<!--
    <div class="panel panel-primary">
    <div class="panel-body">
        <div class="form-group">
            <label>帳號</label>
            <p class="form-control-static"></p>
        </div>
        <hr />
        <div class="form-group">
            <label>姓名</label>
            <input type="text" class="form-control">
        </div>
        <hr />
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <hr />
    <div class="panel-footer">
        <button type="button" class="btn btn-primary">修改個人資料</button>
    </div>
</div>
-->



